<!DOCTYPE HTML>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} &mdash; {% endif %}PAGE TITLE</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% if page.title != "Archive (sidebar)" %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endif %}
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" media="screen, projection" href="/res/screen.css" type="text/css">
    <link rel="stylesheet" media="print" href="/res/print.css" type="text/css">
    <link rel="shortcut icon" href="/newfavicon.ico">
    
    {% if page.ios_app_name %}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    {% endif %}
    
    <script>window.initFuncs = [];</script>
  </head>
  <body{% if page.wide_layout %} class="wide"{% endif %}>
    <header>
      <h1 class="logo" onclick="document.location.href='/';"><a href="/"><img src="/res/cody.png" width="160" height="50" alt="Signature"></a></h1>
      <ul class="navigation">
        <li><a href="/julian/"{% if page.url contains "/julian/" %}class="active"{% endif %} title="Julian">JULIAN</a></li>
        <li><a href="/natasha/"{% if page.url contains "/natasha/" %}class="active"{% endif %} title="Natasha">NATASHA</a></li>
        <li><a href="/nigel/"{% if page.url contains "/nigel/" %}class="active"{% endif %} title="Nigel">NIGEL</a></li>
        <li><a href="/cody/"{% if page.url contains "/cody/" %}class="active"{% endif %}>CODY</a></li>
      </ul>
    </header>
  
      {{ content }}
    
    {% if paginator.page %}
    <div id="paginator" class="content">
      {% if paginator.next_page %}
      <a href="/page{{ paginator.next_page }}/">Older entries</a>
      {% endif %}
      {% if paginator.previous_page %}
      <a href="/page{{ paginator.previous_page }}/">Newer entries</a>
      {% endif %}
    </div>
    {% endif %}
    
    {% unless page.no_footer %}
    <footer>
      <p>
        This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons License</a>
      </p>
    </footer>
    {% endunless %}
    
    {% include highlight.html %}
    {% include analytics.html %}
    <script>for (var k in window.initFuncs) { window.initFuncs[k](); } delete window.initFuncs;</script>
  </body>
</html>
